form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
}

.card {
  
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  max-height: 90%;
  overflow:scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  margin: 0 auto;
  padding: 1rem;
  gap: 0.6rem; 
  
  border: 1px solid black;
  border-radius: 1rem;

  background-color: rgba(31, 41, 55, 0.8);
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.2s, transform 0.3s;
  max-width: 80%;
}

.card.show {
  opacity: 1;
  transform: translateY(0);
  
}

.heading{
  margin:0.2rem;
  padding: 0.2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 1rem ;
}

.wrapper-input {
  position: relative;
  text-align: left; 
  padding: 1.6rem 1rem;
}

.wrapper-input label {
  position: absolute;
  top: 2rem;
  font-size: 1rem;
  transition: top 0.5s ease-in-out;
}
.wrapper-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem; 
}

.input {
  display: block;
  text-align: right;
  font-size: 1rem;
  padding: 1rem;
  padding-left: 4.5rem;
  background-color: transparent;
  border: 0;
  color: #ffff;
  border-bottom: 2px solid #d1d5db;
  appearance: none;
  overflow-x: auto;
}

.input:hover,
.input:hover + label {
  border-bottom-color: #3b82f6;
  color: #6ea3f7;
}

.input:focus {
  outline: none;
  box-shadow: none;
  font-size: 1.05rem;
  color: #6ea3f7;
  border-bottom-color: #3b82f6;
  transition: all 0.5s ease-in-out;
}

.input:not(:placeholder-shown) + label,
.input:focus + label {
  top: 5.1rem;
  color: #3b82f6;
}

input[type="checkbox"]:checked + label {
  color: #3b82f6;
}
input[type="checkbox"]:hover + label {
  color: #6ea1f5;
}

.link:hover {
  color: white;
}

.form-button{
  padding: 0.6em 1.2em;
}
