.calendar-grid {
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.2rem;
}

.day-header {
  text-align: center;
  font-weight: 600;
  padding: 0.5rem;
}

.day-cell{
  padding: 0;
  height: 80px;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  background-color: transparent;
  border-radius: 8px;
  opacity: 100%;
  border: 1px solid #999a9e;
  margin:0;
  cursor: pointer;
  transition: background-color 0.3s;


}

.list-cell{
  padding: 0.6em 1.2em;
  display: flex;
  border-radius: 2px;
  border: 0.5px solid #68686a;
  width: 100%;
}
.calendar-cell{
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0.2em 0.4em 0.2em 0.4em;
}

.day-cell:hover {
  background-color: #65686b;
}

.day-cell.selected {
  opacity: 100%;
  background-color: #5a848f;
  border: 2px solid #60a5fa;
}

.day-cell.empty {
  background-color: #000000;
  opacity: 0%;
  cursor: default;
}

.current-day {
  border-radius: 8px;
  opacity: 100%;
  border: 2px solid #8dc10b;
}

.current-day .day-number {
  color: #8dc10b;
}
.day-number{
  display: flex;
  width: 100%;
}
