.navigation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navigation-button {
  opacity: 50%;
  padding: 0.5rem;
  margin: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s;
}
.view-toggle-button{

  padding: 0.3em 0.6em;
}

.navigation-button:hover {
  background-color: #343f55;
}

.current-month {
  font-size: 1.25rem;
  font-weight: 600;
}
